.header {
  display: flex;
  align-items: center;
  background-color: var(--secondary-dark-color);
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
}

h2 {
  /* position: absolute; */
  color: #eee;
}

.guests {
  background-color: #d8e4ec;
  border-radius: 40px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-left: 20px;
}
